<%= render "shared/login_form" unless current_customer %>
<h2>商品について</h2>
<p>
    おかずを選んで箱に詰めるのが当店の売り!
    お弁当の注文の際は、箱を選択してね
</p>

<p>
    セットでご飯がついています.
    サイドメニューもご自由に...
</p>
<hr>
<h2>Select × rect</h2>
<p>
    四角い(rect)箱に選択した(select)おかずをいれるお弁当が売りの当店.
    名前は、気に入っています
</p>
<p>
    16種類のおかずの中から、あなただけの素敵なお弁当を選んでみて.
</p>
<p>
    サイドメニューも充実の５種類(?)
</p>
<%= image_tag("top/top.jpg", size: "480x320", alt: "top") %>
<p>
    会員様の住所まで安全にお届けします.
    テイクアウトも可能です.
</p>

<%= image_tag("top/wata.jpg", size: "350x240", alt: "watasu") %>
<%= image_tag("top/delive.jpg", size: "350x240", alt: "delive") %>
