<%= render "shared/login_form" unless current_customer %>
<h2>Select × rect</h2>
<p>
    四角い(rect)箱に選択した(select)おかずをいれるお弁当が売りの当店.
    うまいこと考えたと気に入っています
</p>
<p>
    16種類のおかずの中から、あなただけの素敵なお弁当を選んでみて.
</p>
<p>
    サイドメニューも充実の５種類(?)
</p>
<%= image_tag("top.jpg", size: "480x320", alt: "top") %>
<p>
    会員様の住所まで安全にお届けします.
    テイクアウトも可能です.
</p>

<%= image_tag("wata.jpg", size: "350x240", alt: "watasu") %>
<%= image_tag("delive.jpg", size: "350x240", alt: "delive") %>
