<% @page_title = "管理者情報" %>
<header class="post-info">
<h2 class="post-title"><%= @page_title %></h2>

<div class="toolbar">
  <%= link_to "アカウント情報の編集", [:edit, @admin] %>
  <%= link_to "パスワードの変更", :edit_password %>
</div>

<%= render "body" %>
</header>
