<% @page_title = "管理者一覧" %>
<h1 class="post-title"><%= @page_title %></h2>

<% if @admins.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>管理者氏名</th>
      </tr>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td>・<%= admin.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>管理者情報がありません。</p>
<% end %>
</header>
