<nav class="menubar" id="admin-menubar">
  <ul>
    <%= menu_link_to "管理TOP", :admin_root %>
    <%= menu_link_to "会員管理", :admin_customers %>
    <%= menu_link_to "おかず管理", :admin_dishes %>
    <%= menu_link_to "サイドメニュー管理", :admin_sub_dishes %> 
  </ul>
</nav>
