<% @page_title = "マイアカウント" %>
<header class="post-info">
<h2 class="post-title"><%= @page_title %></h2>

<ul class="toolbar">
  <%= menu_link_to "アカウント情報の編集", :edit_admin_account %>
  <%= menu_link_to "パスワードの変更", :edit_admin_password %>
</ul>

<%= render "admin/body" %>
</header>
