/* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* ページ全体 */
body {
    background-color: rgb(253, 243, 235);
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Apple Chancery','klee',sans-serif;
    font-size: 110%;
  }

  nav.menubar{
    background-color: rgb(238, 226, 216);
    border: double 4px rgb(243, 233, 224);
}
nav.admin_menubar.icon{
  background-color: rgb(238, 226, 216);
  border: double 4px rgb(243, 233, 224);
}

.icon{
  margin-top: -15px;
  float: right;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid rgb(179, 38, 38);
}

nav.admin_menubar{
  background-color: rgb(238, 226, 216);
  border: double 4px rgb(243, 233, 224);
}

  nav ul,
  ul.toolbar,
  ul.links {
    overflow: hidden;
    list-style-type: none;
    color: rgb(230, 54, 54);
  }

  .notice{
    background-color: rgb(253, 216, 216);
    border: double 5px rgb(179, 38, 38);
    text-align: center;
  }

  header ul.account-menu li {
    display: inline;
    margin-right: 40px;
    
  }
  
  ul.account-menu {
    text-align: right;
  }
  
  nav ul li,
  div.toolbar li,
  ul.toolbar li,
  ul.links li {
    display: inline;
    width: 30%;
    text-align: center;
    float: left;
  }

ul{
    padding: 0px;
}
  table{
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 660px;
  }
