<% @page_title="新規会員登録" %>
<h1><%= @page_title %></h1>

<%= form_for @customer, url: {controller: :accounts, action: :create} do |form| %>
    <%= render "shared/customer_form", form: form %>
    <div><%= form.submit %></div>
<% end %>